	body {
		margin: 0;
		font-family: Arial, Helvetica, sans-serif;
	}
	html {
		background: url(file:///C:/Users/Acer/Personalweb/peach%20wallpaper.jpg) no-repeat center fixed;
		background-size: cover;
	}
	.topnav {
		overflow: hidden;
		background-color: #777;
	}
	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 18px;
	}
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}
	.topnav a.active {
		background-color: #ecb535;
		color: floralwhite;
	}
	.topnav a:visited{
		color: greenyellow;
		background-color: darkolivegreen;
		text-decoration: none;
	}
	.sticky {
	  	position: fixed;
	  	top: 0;
	  	width: 100%;
	}
	.sticky + .content {
	  	padding-top: 60px;
	}
	table, th, tr, td{
		border: 2px solid darkred;
		border-collapse: collapse;
		padding: 4px;
	}
	th {
	 	background-color: papayawhip;
		color: black;
	}
	tr:nth-child(even){
	    background-color: lightpink;
	}
	table.center {
	    margin-left: auto; 
	    margin-right: auto;
	}
	h1 {
	    text-decoration: overline;
	}
	h2 {
	    text-decoration: line-through;
	}
	img {
		border: 2px solid #555;
	  	display: block;
	  	margin-left: auto;
	  	margin-right: auto;
	}
	img:hover {
	  	animation: shake 0.8s;
	  	animation-iteration-count: infinite;
	}
	@keyframes shake {
	  0% { transform: translate(1px, 1px) rotate(0deg); }
	  10% { transform: translate(-1px, -2px) rotate(-1deg); }
	  20% { transform: translate(-3px, 0px) rotate(1deg); }
	  30% { transform: translate(3px, 2px) rotate(0deg); }
	  40% { transform: translate(1px, -1px) rotate(1deg); }
	  50% { transform: translate(-1px, 2px) rotate(-1deg); }
	  60% { transform: translate(-3px, 1px) rotate(0deg); }
	  70% { transform: translate(3px, 1px) rotate(-1deg); }
	  80% { transform: translate(-1px, -1px) rotate(1deg); }
	  90% { transform: translate(1px, 2px) rotate(0deg); }
	  100% { transform: translate(1px, -2px) rotate(-1deg); }
	}